@font-face{font-family:'myfont';src:url(./font.ttf)}.hidden{display:none;visibility:hidden;opacity:0}.fullScreen{height:100vh}.center{display:grid;place-content:center}.shareMask{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.9);z-index:9999999;display:flex;flex-direction:column;justify-content:center;align-items:center;color:#fff;font-size: 22px;}.shareMask img{width:70%;height:auto;margin-bottom:20px}.closeBtn{margin-top:20px}#app{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}#reload {position: fixed;top: 20px;right: 20px;width: 60px;height: 20px;font-size: 22px; opacity: 0;}
#tipContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s;
}
#tipContainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tipContainer .content img {
  width: 50%;
}
#tipContainer .arrow {
  position: fixed;
  top: 3%;
  right: 15%;
  width: 100px;
  height: 100px;
  animation: 2s linear move infinite;
  animation-fill-mode: both;
}
@keyframes move {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}
#typing {
  display: inline-block;
  width: 300px;
  min-height: 120px;
  background: #fff;
  color: #333;
  font-size: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
}

#typing.ended::after {
  animation: 1.1s cursor steps(2, jump-none) infinite;
}

#typing span {
  --delay: 10s;
  display: inline-block;
  overflow: hidden;
  width: 0ch;
  animation: 0.1s text-in ease-in-out forwards;
  animation-delay: var(--delay);
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

@keyframes text-in {
  from { width: 0ch;}
  to { width: 2ch; }
}

@keyframes cursor {
  from { opacity: 0; }
  to { opacity: 1;}
}

.mptop20 {
  margin-top: -60%;
}